{% extends "admin/base.html" %} {% load i18n admin_static %}
{% block breadcrumbs_items %}


	<a href="/admin/">Todos os Aplicativos</a> ⟩
	<a href="#"><i class="fa adm-app-default adm-auth-user"></i> &nbsp;&nbsp;Monitor</a>


{% endblock %} 
{% block content %}

<style>

.gauge {
 padding-right: 15px;
 padding-left: 15px;
 margin-center: 10px;
}

img{
	max-width: 100%;
    height: auto;
}

#containment-wrapper {
	background-repeat: no-repeat;
}

</style>

<head>
<input hidden type="text" id="temp" >
	<input hidden type="text" id="hum">
    <title>Internet das Coisas</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <style>
	      body {
	        text-align: left;
	      }
	      
	      #g3, #g4 {
	        width:400px; height:320px;
	        display: inline-block;
	        margin: 1em;
	      }
	      
	       #g1, #g2 {
	        width:200px; height:120px;
	        display: inline-block;
	        margin: 1em;
	      }
	    </style>
    <script type="text/javascript" src="{% static 'resources/js/raphael.2.1.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'resources/js/justgage.1.0.1.min.js' %}"></script>
    	
</head>

<html>

<boddy style="text-align: left;">

	<form method="post" class="form-horizontal" id="formAddTemplate" style='visibility:visible;'>
	{% csrf_token %}
	
<div class="row">
    <div class="col s12 m8 l9">
        <div class="card" style='height: 800px;'>
            <div class="card-content">
	            <select id="template">
			    </select>
		    	<label>Selecione um Template</label>
		    	<div>
					<input id="save" name="Save" class="btn btn-primary" type="button" value="{%trans 'Guardar'%}">
					<input type="submit" formaction="/admin/iot/template/" id="novo" name="Novo" class="btn btn-primary" type="button" value="{%trans 'Novo'%}">
				</div>
				</br>
			</br>
			<div class="row">
			    <div class="col s12"><div></div>
			        <div class="col s12">
			            <div class="center">
			            	<div class="containment-wrapper" id="containment-wrapper" ></div>
			            </div>
			        </div>
			    </div>
			</div>
		</div>
  	</div>
    </div>
    <div class="col s12 m4 l3">
        <div class="card filters">
        <div class="card-content">
        	<span class="card-title black-text" style="margin-bottom:20px; text-align: right;">Sensores</span>
        	<div class="clearfix"></div>
        	<div style="text-align: center;">
	            <div id="g1" style="width:220px; height:140px"></div>
	            <div id="g2" style="width:220px; height:140px"></div>
            </div>
			</div>
		</div>
 	</div>
</boddy>
</html>
<script type="text/javascript">
	$(document).ready(function() {
		//$("span").hide();
		var idSensor;
		
		$( "#g1" ).hide();
		$( "#g2" ).hide();
		
	      $.ajax({
	         type: "POST",
	         url: "{% url 'getTemplate' %}",
	         data: {},
	         dataType: "json",
	         success: function(json){
	        	 console.log(json);
	            var options = "";
	            var teste = '<li class=""><span></span></li>';
	            options = '<option value="">----</option>';
	            
	            $.each(json, function(key, value){
	               options += '<option value="' + value.id + '">' + value.nome + '</option>';
	               teste += '<li class=""><span>'+ value.nome +'</span></li>';

	            });
	            
	            $("#template").html(options);
	            $('.initialized').find('ul').html(teste);
	            
	            $('select').material_select();
	         }
	      });
	      
	     
	      var selectAnterior = "";
			
			$('select').on('change', function() {
				
				  if(this.value){
					  var id_template = this.value;
					  $( "#containment-wrapper" ).empty();
					 // selectAnterior = this.value;
					  //alert(this.value)
					  
					  
					  $.ajax({
					         type: "POST",
					         url: "{% url 'getTemplate' %}",
					         data: {"id_template":id_template},
					         dataType: "json",
					         success: function(json){
					        	 	 var img = new Image();
					        		 console.log("Caminho: "+json.caminhoImagem);
					        		 
					        		 img.onload = function() {
					        		       var height = this.height,
					        		           width = this.width;
					        		      
					        		       //$("#containment-wrapper").css({'background-image':'url('+ img.src +')', 'width': img.width+'px', 'height': img.height+'px', position:'absolute'});
					        		       //$(".containment-wrapper").css({'background-image':'url('+ img.src +')', 'width': '90%', 'height': '75%', position:'absolute'});
					        		       $(".containment-wrapper").css({'width': '90%', 'height': '75%', position:'absolute'});
					        		       $("#containment-wrapper").append(img);
					        		    }
						        		 img.src = "/"+ json.caminhoImagem +"";
					        		 //alert(img.src);
							          
							            //$("#containment-wrapper").css({'background-image':'url('+ img.src +')', 'width': img.width+'px', 'height': img.height+'px', position:'absolute'});
							  			//$("#containment-wrapper").css({"width": img.width+"px", "height": img.height+"px", position:'absolute'});
					         }
					      });
					  
					  selecionar(this.value);
				  }else {
					  location.reload();
				  }
				  
				});
			
	
		function selecionar(id_template){
			$( document ).tooltip();
			
			
			console.log('#someButton was clicked');
			$.ajax({
				type : "POST",
				url : "/home/equipamentos/" + id_template + "/",
				//dataType : "json",
				//data: {};
				success : function(retorno) {
					console.log(":::::::");
					console.log(retorno);
					console.log("------");
					
					$.each(retorno, function(i, item_equip) {
						console.log("Nome - equipamento "+ item_equip.nomeEquipamento);
						$("#containment-wrapper").append(
								
								"<div data-toggle='tooltip' data-placement='top' title='ID: "+ item_equip.equipamento_id +" - "+ item_equip.nomeEquipamento +"' style='width: 6%; height: auto; border: 0px solid #ccc; '"
								
								 + "id=" +"equip_" + item_equip.equipamento_id + " class='draggable ui-widget-content'>"
								 	+"<a href='/equipments/listEquipment_sensor/"+ item_equip.equipamento_id +"'><img src='/static/img/equipamento.png' /></a>"
								 + "</div>"
						);
					
							$.each(item_equip.sensores, function(j, item_sensor) {
								console.log("Sensor: "+ item_sensor.sensor_id + " do Equipamento: " + item_equip.nomeEquipamento);

								$("#containment-wrapper").append(
										"<div data-toggle='tooltip' data-placement='top' title='Sensor: "+ item_sensor.nome_sensor +" - "+ item_equip.nomeEquipamento + "' style='width: 4%; height: auto; border: 0px solid #ccc; '"
										
										+ "id='" + "sensor_" + item_equip.equipamento_id + "_" + item_sensor.sensor_id + "' class='draggable ui-widget-content'>"
											// +"<img src='/static/img/sensor01.png' /></a>"
											 +"<a href='/sensor/sensor/" + item_sensor.sensor_id + "'><img src='/static/img/sensor01.png' /></a>"
											 //+"<a href='/sensorData/load/'><img src='/static/img/sensor01.png' /></a>"
											 //+"<a href='#'><img src='/static/img/sensor01.png' /></a>"
								      + "</div>"	 
								);
								
								
																		
								$("#sensor_" + item_equip.equipamento_id + "_" + item_sensor.sensor_id).draggable({
										
										containment : "#containment-wrapper",
										scroll : false
								}).mouseenter(function() {
									  $( "#g1" ).show();
									  $( "#g2" ).show();
								}).mouseleave(function() {
									  $( "#g1" ).hide();
									  $( "#g2" ).hide();
								}).click(idSensor = item_sensor.sensor_id);
								
								//console.log('ITEM SENSOR: '+id_sensor = item_sensor.sensor_id);
		
							});
								
						$("#equip_" + item_equip.equipamento_id).draggable({
							
							containment : "#containment-wrapper",
							scroll : false
						});
						
					});
					
					getPosition();

				},
				
			});
		};
		
		
		function getPosition(){
			$.ajax({
			  	  type: "POST",
			  	  url: "{% url 'getEquipmentPosition' %}",
			  	  data: {},
			  	  	success: function(posicao){
			  		console.log(posicao);
			  		  
			  		$.each(posicao, function(i, item){
			  			//console.log("#"+item.nome);
			  			
			  			$("#" + item.nome).css({"top": item.Y +"px", "left": item.X +"px", position:'absolute'})
			  	      .addClass("selecionado");
			  			
			  			
			  			
			  		});
			  		
			  	  }
			 });
			
		};
		
			
			$("#save").click(function(e) {
				var dados = {};
				$('#containment-wrapper').children().each(function () {
					var jsonData = {};
					position = $(this).position()
				    var columnName = $(this).attr("id");
				    jsonData[columnName] = {"y":position.top , "x":parseInt(position.left)};
				    $.extend(dados, jsonData);
				});
				jsonDados = JSON.stringify(dados);

				$.ajax({
					  type: "POST",
					  url: "{% url 'addEquipmentPosition' %}",
					  traditional: true,
					  data: {"dados":jsonDados},
					  
					  success: function(data){
						  //console.log(data)
					  }
				});
			

			});
			
			
			var temp = 0;
			  var hum = 50;
			// set interval
			
			
			
			function mycode() {
			$.ajax({
				  type: "POST",
				  url: "/sensorData/load/" + idSensor + "/",
				  
				  data: {},
				  dataType: "json",
				  success: function(json){
					  //console.log(json[0])
					  //console.log("Caminho: "+ json[0].sensorData_temp);
					  
					  temp = json[0].sensorData_temp;
					  hum = json[0].sensorData_hum;
				  }
			});
			
			}setInterval(mycode, 2000);
			
			var g1, g2;

			var g1 = new JustGage({
						  
		          id: "g1", 
		          value: temp,
		          min: -100,
		          max: 100,
		          //gaugeColor : "#323232",
		          title: "Temperatura",
		          label: "ºC"
		        
		        });
		    	  
		        var g2 = new JustGage({
		          id: "g2", 
		          value: hum, 
		          min: 0,
		          max: 100,
		          title: "Humidade",
		          label: "%"
		        });
		    
		        
		        setInterval(function() {
		          g1.refresh(temp);
		          g2.refresh(hum);          
		          
		        }, 2500);
			

			});
</script>
{% endblock %}



