{% extends "admin/base.html" %}
{% load i18n admin_static %}
{% block breadcrumbs_items %}

	<a href="/admin/">Todos os Aplicativos</a> ⟩
	<a href="/home/"><i class="fa adm-app-default adm-auth-user"></i> &nbsp;&nbsp;Monitor</a> ⟩
	<a href="#"><i class="fa adm-app-default adm-iot-sensor"></i> &nbsp;&nbsp;Equipamentos</a>
	
{% endblock %} 
{% block content %}
<html>
<body style="text-align: left;">
<div>

<div class="row">
    <div class="col s12 m8 l9">
        <div class="card">
            <div class="card-content">
				    <div>
				        <table id="tabelaLista">
						<thead>
							<tr>
								<th>{%	trans "ID" %}</th>
								<th>{%	trans "Equipamento/Sensor" %}</th>
							</tr>
						</thead>
							<tbody>
								{% for equipamento in equipamentos %}
									{% for sensor in lSensor %}
									<tr >
										<td><a href="/sensor/sensor/{{ sensor.sensor_id }}" >{{ sensor.sensor_id }}</a></td>
										<td><a href="/sensor/sensor/{{ sensor.sensor_id }}" >{{ equipamento.name }} - {{ sensor.nome_sensor }}</a></td>
									</tr>
									{% endfor %}
								{% endfor %}
							</tbody>
						</table>
					</div>
			</div>
        </div>
	</div>
    <div class="col s12 m4 l3">
        <div class="card filters">
            <div class="card-content">
                <span class="card-title black-text" style="margin-bottom:20px">Filtros</span>
                 <div class="clearfix"></div>
            </div>
            <div class="card-action">&nbsp;</div>
        </div>
    </div>
</div>
</div>

</body>
</html>

{% endblock %}
{% block endJs %}
	<script type="text/javascript">
	$(document).ready(function() {
		$('#tabelaLista').dataTable({
			"oLanguage": {
	            "sUrl": "/static/dataTables/lang/pt-pt.txt"
	        },
	        "sScrollY": "610px",
	        "bScrollCollapse": true,
	        "bStateSave": true,
	        "aoColumnDefs": [
	                         { 'bSortable': false, 'aTargets': [ 0 ] }
	                      ] 	
		});
		
	
	});
	</script>
{% endblock %}